.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.featureImg {
  max-width: 200px;
  height: auto;
  margin: 0 auto;
}